/* MOBILE CSS */

* {
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media only screen and (max-width: 700px) {
body { font-size:120%;}
}
@font-face {
  font-family: 'Avenir';
  src: url('Avenir.ttc');
}


/* COLORS -- #445963 (dark grey), #D5D6D8 (light grey), #f1f1ab (yellow), #9BD9E7 (light blue), #C9A6B8 (pink) */



/* GENERAL */


body {
    width: 100%;
    height: 100%;
    background-color: #445963;
    font-family: 'Avenir', Avenir, sans-serif;;
    letter-spacing: 2px;
	text-transform: uppercase;
}
.wrapper {
    width: 100%;
    max-width: 1300px;
    overflow: auto;
    padding-top: 30px;
    margin: 0 auto;
}
.divider {
    width: 100%;
    height: 30px;
    color: #445963;
    font-size: 17px;
    line-height: 23px;
    padding: 5px 0;
    text-align: center;
    letter-spacing: 5px;
}
.row {
    width: 100%;
    padding: 0 30px;
    display: block;
}
a {
    text-decoration: none;
}




/* OVERLAY */
.overlay {   
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: #445963;
    overflow-x: hidden;
    text-align: center;
}
.overlay-content {
    width: 100%;
    text-align: center;
}
.overlay .closebtn {
    margin: 30px 0 0 0;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Avenir', Avenir, sans-serif;
    display: block;
    color: #D5D6D8;
    opacity: 0.7;
    text-align: center;
}
.overlay a{
    font-family: 'Avenir', Avenir, sans-serif;
	text-transform: uppercase;
    line-height: 50px;
    color: white;
    clear: both;
    opacity: 1.0;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 2px;
}
.overlay a:hover {
    opacity: 0.5;
}
.overlayspacer {
    margin: 10px auto 20px auto;
    background-color: #acacac;
    width: 80%;
    height: 1px;
    display: block;
    opacity: 0.7;
}





/* TOOLBAR */

#toolbar-underlay {
    top: 0px;
    width: 100%;
    background-color: #445963;
	box-shadow: 0 0 30px 30px #445963;
	height: 75px;
	position: fixed;
	overflow: visible;
	padding: 15px 20px;
    opacity: 0.9;
    z-index: 1;
}
#toolbar-mobile {
    width: 100%;
	height: 75px;
	position: fixed;
	overflow: visible;
	padding: 15px 20px;
    z-index: 2;
}
#toolbar-standard {
    display: none;
}
.main-logo {
    height: 80px;
	width: 72.8px;
	float: left;
    clear: both;
}
#dropdown {
    width: 30px;
	height: 40px;
	background-color: transparent;
	float: right;
	margin-top: 25px;
	opacity: 1.0;
}
#dropdown:hover{
	opacity: 0.5;
}
.bars3 {
    height: 5px;
	background-color: #D5D6D8;
	display: block;
	margin-bottom: 5px;
	border-radius: 5px;
}
#under-toolbar {
    height: 75px;
    width: 100px;
}




/* BANNER */

.row.banner {
    text-align: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(cover.jpg);
	padding-top: 20vh;
    text-transform: uppercase;
    height: 100vh;
}
#banner1 {
    
}
.secondary {
    
}
.banner-image {
    width: 85%;
    margin: 0 auto 15px auto;
    text-align: center;
    display: block;
}
img.image {
    max-width: 400px;
}
.row.banner .headline {
    font-size: 45px;
    color: white;
    margin: 0 0 15px 0;
    float: left;
    text-align: left;
    text-transform: none;
    display: block;
    letter-spacing: 0px;
    display: none;
}
.body-copy {
    color: #d5d6d8;
    text-transform: none;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: normal;
    text-align: center;
}
.copy-alt {
    color: #f1f1ab;
}
.second-break {
    display: none;
}
.cta {
    width: 100%;
	max-width: 300px;
	height: 50px;
	background-color: transparent;
	border-color: #9BD9E7;
	border-radius: 10px;
	border-style: solid;
	border-width: thin;
    margin: 0 auto 30px auto;
    line-height: 50px;
	font-size: 14px;
	color: #9BD9E7;
	text-align: center;
	letter-spacing: 5px;
    text-transform: uppercase;
}
.cta:hover {
    color: #f1f1ab;
    border-color: #f1f1ab;
}

#dot-row {
    
}
.dot1 {
    
}
.dot2, .dot3, .dot4, .dot5 {
    
}




/* EVENTS */

.events .wrapper {
    margin: 0 auto 50px auto;
}
.divider.events {
    background-color: #C9A6B8;
}
.row.events {
    
}
.event {
    width: 100%;
    float: left;
    margin: 0 auto;
}
.bullet {
    color: white;
    float: left;
    width: 20%;
    text-align: center;
}
.month {
    font-size: 22px;
}
.day {
    font-size: 35px;
}
.location {
    font-size: 15px;
    color: #f1f1ab;
    text-transform: uppercase;
}
.details {
    color: #D5D6D8;
    font-size: 20px;
    float: left;
    width: 75%;
    padding-left: 20px;
    text-transform: none;
}
.title {
    color: #f1f1ab;
    font-size: 22px;
    text-transform: uppercase;
}
.spacer {
    background-color: #acacac;
    margin: 30px 0;
    width: 100%;
    height: 1px;
    float: left;
}
.tickets {
    font-size: 14px;
    height: 50px;
    line-height: 52px;
    width: 200px;
    background-color: #d5d6d8;
    color: #445963;
    letter-spacing: 4px;
    border-radius: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    margin-left: -25px;
}
.tickets:hover {
    background-color: #d5d6d8;
    opacity: 1.0;
}
.events-anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}



/* MEDIA */

.wrapper.media {
}
.media-anchor {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}
.divider.media {
    background-color: #9BD9E7;
}
.row.media {
    width: 100%;
    color: #d5d6d8;
    font-size: 20px;
    letter-spacing: 5px;
    background-color: #80939e;
    overflow: hidden;
    text-align: justify;
}
.row.media:after {
    content: '';
    width: 100%; /* Ensures justification for single lines */
    display: inline-block;
}
#photos:hover {
    background-image: url(djharrison.jpg);
    background-size: cover;
    background-position: center center;
}
iframe {
    width: 100%;
    height: 430;
}
.media-container {
    width: 100%;
    display:block;
    margin: 10px 0 0 0;
}
.media-text {
    width: 100%;
    height: 70px;
    padding-top: 10px;
    margin: 20px 0 0 0;
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
}
.media-icons {
    width: 40px;
    height: 40px;
    margin: 15px auto;
    clear: both;
    display: block;
}
#videos {
    width: 100%;
    height: 200px;
    background-image: url(nate-shade.jpg);
    background-size: cover;
    background-position: center center;
    float: left;
    border-radius: 5px;
    color: white;
    display: block;
    margin-bottom: 15px;
}
#videos:hover {
    background-image: url(nate.jpg);
    background-size: cover;
    background-position: center center;
}
#photos {
    width: 100%;
    height: 200px;
    background-image: url(djharrison-copy2.jpg);
    background-size: cover;
    background-position: center center;
    text-align: left;
    float: right;
    border-radius: 5px;
    color: white;
}
#photos:hover {
    background-image: url(djharrison.jpg);
    background-size: cover;
    background-position: center center;
}



/* ABOUT */

.divider.about {
    background-color: rgba(213, 214, 216, 0.8);
    margin-bottom: 60px;
}
.row.about {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(caryst.jpg);
    text-transform: uppercase; 
    padding: 18vh 30px;
    min-height: 600px;
}
.row.about .headline {
    font-size: 40px;
    margin: 0 0 15px 0;
    text-align: left;
    text-transform: none;
    display: block;
    letter-spacing: 0px;
    color: rgba(255,255,255, 0.8);
    float: none;
}
.row.about .wrapper {
    max-width: 1100px;
}
.names {
    color: #d5d6d8;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: normal;
    text-align: left;
}
.names-alt {
    color: #f1f1ab;
    font-size: 13px;
}


/* FOOTER */

.row.footer {
    padding: 60px 30px;
}
#image-bar {
    background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(gig.jpg);
    text-transform: uppercase; 
    height: 200px;
}
#logo-social {
    width: 100%;
    margin-bottom: 60px;
    float: left;
}
#navigation {
    width: 100%;
    margin-bottom: 60px;
    float: left;
}
#contact-form {
    width: 100%;
    margin-bottom: 30px;
    float: left;
}
form {
    font-size: 12px;
    margin: 15px 0 0 15px;
    color: #D5D6D8;
    text-align: left;
}
input[type=submit] {
    background-color: gray;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-family: 'Avenir', Avenir, sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    height: 20px;
    width: 100px;
}
input[type=text] {
    width: 100%;
}
textarea[name=message] {
    width: 100%;
    height: 100px
}
.content-container {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
}
.footer-header {
    color: white;
    text-transform: none;
    font-size: 15px;
    letter-spacing: 5px;
    line-height: normal;
    text-align: left;
    margin: 0 0 0 15px;
    text-transform: uppercase;
    font-size: 12px;
}
.footer-header.sub {
    color: #d5d6d8;
}
a.footer-link {
    float: left;
    text-decoration: none;
	margin: 0 0 15px 15px;
	text-transform: uppercase;
	color: #D5D6D8;
    clear: both;
    font-size: 12px;
}
.footer-link:hover{
    color: white;
}
.social {
    height: 22px;
    width: auto;
    margin: 0 10px 10px 5px;
}
a.icons:hover{
    opacity: 0.7;
}
#subfooter {
    height: 70px;
    line-height: 70px;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(subfooter.jpg);
    text-transform: uppercase;
    color: #d5d6d8;
    text-transform: none;
    font-size: 12px;
    line-height: normal;
    text-align: left;
}
#subfooter .wrapper {
    padding: 15px 30px;
}